<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$title}</title>
<meta name="keywords" content="{$keyword}" />
<meta name="description" content="{$description}" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<base href="{$BaseUrl}"/>
<link href="css/base.css"  rel="stylesheet" />
<script src="js/util/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/util/cpCommon.js" ></script>
<script type="text/javascript" src="js/util/httpUtil.js" ></script>
<script type="text/javascript" src="js/beforPage.js" ></script>
<script type="text/javascript" src="js/util/doT/doT.min.js" ></script>
<script type="text/javascript" src="js/cookie.js" ></script>
<block name="style"></block>
{:hook('pageHeader')}

        
        