<script type="text/javascript">
    var pageNameTemp="home";
</script>
<style type="text/css">
.header{margin-bottom: 10px;}
</style>
<div id="bbsScript" style="display: none;"></div>
<!--top-->
<div class="top">

<link rel="stylesheet" href="css/nva_zise.css"  />
<link rel="stylesheet" href="css/footer.css"  />
	<div class="nav">
  <div class="wrap">
    <ul>
      <li class="./pk10/"><a href="/pk10/">网站首页</a></li>
      <li><a href="/pk10/">北京赛车<em class="hot-icon"></em></a> </li>
	  <li><a href="/xyft/">幸运飞艇<em class="hot-icon"></em></a> </li>
                </ul>
            </li>
			
        </ul>

    </div>
</div>