/*资讯技巧*/
.method-position
{
    border-bottom:solid 1px #CCCCCC;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
    text-align:left;
}
.method-position a
{
    margin-right:3px;
}
.method-position span
{
    margin-left:3px;
    color:#e84147;
}
.method-wrap .method-cont
{
    float:left;
    width:710px;   
    text-align:left;
}
.method-wrap .method
{
    height:340px; 
}
.method-wrap .method li
{
    _width:320px;
    float:left; 
    line-height:30px;
    margin-right:40px;
    _margin-right:30px;  
}
.method-wrap .method li a
{
    float:left;
    display:block;
    width:250px;
    _width:250px;
    color:#666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
.method-wrap .method li a:hover
{
    color:#b30000;
}
.method-wrap .method li span
{
    float:left;
    color:#666666;
}
.method-wrap .method #dot-line
{
    margin:3px 0px;
    height:1px;
    width:658px;
    border-bottom:dashed 1px #CCCCCC;
}
.method-wrap .category,
.software-content .help
{
    border:solid 1px #CCCCCC;
    float:left;
    width:268px;   
    margin-top:10px;
}
.method-wrap .category li,
.software-content .help li
{    
    line-height:32px;
    border-bottom:solid 1px #CCCCCC;
    height:32px;
}
.method-wrap .category .title
{
    font-weight:bold;
    padding-left:15px;
    font-family:微软雅黑;
    height:37px;
    line-height:37px;
    font-size:14px;
    background-color:#F4F4F4;
}

.method-wrap .category li a
{
    padding:0px 15px;
    display:block;
    width:215px;
    float:left;
    color:#666666;
}
.method-wrap .category li a:hover
{
    color:#b30000;
}
.method-wrap .category .cur
{
    background-color:#FFFBEF;
    border:solid 1px #e56e72;
    margin-left:-1px;
    margin-top:-1px;
    margin-right:-1px;
}
.method-wrap .category .cur a,
.method-wrap .category .cur span
{
    color:#e84147;
}
.method-wrap .category li span
{
    float:left;
}
.method-wrap .category li:last-child,
.method-wrap .hot-method li:last-child,
.software-content .help li:last-child
{
    border-bottom:0px;
}
/*详细新闻*/
.method-wrap .content
{
    width:630px;
    margin-right:30px;
    float:left;
    text-align:left;
}
.method-wrap .content .title
{
     text-align:center;
     margin-bottom:20px;
}
.method-wrap .content .title h1
{
    line-height:40px;
    font-size:18px;
}
.method-wrap .content .title span
{
    margin-right:10px;
    color:#666666
}
.method-wrap .content .text
{
    line-height:27px;
    min-height:300px;
    font-size:12px;
}
.method-wrap .content .text p
{
    margin-bottom:10px;
}
.method-wrap .content .pre-next
{
    margin-top:20px;
    border-top:solid 1px #cccccc;
    line-height:28px;
    margin-bottom:20px;
}
/*热点技巧*/
.method-wrap .category
{
    text-align:left;
    border:solid 1px #CCCCCC;
    width:268px;
    margin-top:10px;
}
.method-wrap .category li
{    
    line-height:32px;
    border-bottom:solid 1px #CCCCCC;
    height:32px;
}
.method-wrap .category .title
{
    font-weight:bold;
    padding-left:15px;
    font-family:微软雅黑;
    height:37px;
    line-height:37px;
    font-size:14px;
    background-color:#F4F4F4;
}
.method-wrap .category li a
{
    padding:0px 15px;
    display:block;
    width:215px;
    float:left;
    color:#666666;
}
.method-wrap .category li a:hover
{
    color:#b30000;
}
.method-wrap .hot-shipin
{
    text-align:left;
    width:320px;
    float:right;
}
.method-wrap .hot-method,
.method-wrap .shipin
{
    border:solid 1px #CCCCCC;
    float:left;
    width:318px;   
    margin-top:10px;
}
.method-wrap .hot-method li
{    
    line-height:32px;
    padding:0px 15px;
    border-bottom:solid 1px #CCCCCC;
    height:32px;
}
.method-wrap .hot-method li a
{
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width:230px;
}
.method-wrap .hot-method li span
{
    float:right;
}
.method-wrap .hot-method .title,
.method-wrap .shipin .title
{
    height:37px;
    line-height:37px;    
    background-color:#F4F4F4;
}
.method-wrap .shipin .title
{
    padding:0px 15px;
    margin-bottom:18px;
    border-bottom:solid 1px #cccccc;
}
.method-wrap .hot-method .title b,
.method-wrap .shipin .title b,
.software-content .help .title b
{
    font-size:14px;
    font-family:微软雅黑;
    float:left;
}
.method-wrap .hot-method .title a,
.method-wrap .shipin .title a
{
    width:45px;
    font-size:12px;
    float:right;
}
.method-wrap .shipin li .shipin-play
{
    float:left;
    display:block;
    margin-left:18px;
    width:130px;
    margin-bottom:18px;
    border:solid 1px #CCCCCC;
}
.method-wrap .shipin li .shipin-play img
{
    width:133px;
    height:98px;
}
.method-wrap .shipin .more
{
    padding-right:18px;
    text-align:right;
    border-top:dashed 1px #ccc;
    height:40px;
    line-height:40px;
}


.container{ width:100%; margin-left:10px; margin-right:10px;margin-top:50px;}
.container a{ height:35px; padding-left:23px; padding-right:23px; background-color:#567f9d; line-height:34px; font-size:12px; color:#fff; margin-right:1px; margin-bottom:1px; text-align:center; float:left; display:block;}
.container .bgcolor{background-color:#96cda3;}